@import url("btnVoltar.css");
@import url("index.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

h1{
    font-size: clamp( 10px, 1em + 3vw, 3em); /*tamanho: mínimo, desejável e máximo*/
    margin-right: 0;
    letter-spacing: 1px;
}
.formu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    color: #2a3641;
    height: 50%;
    width: 100%;
}

.formu h2{
    margin-bottom: 20px;
    font-size: clamp(100%, 1em + 1vw, 2.5em);
}

.log{
    flex-direction: column;
}

.botao{
    text-align: center;
    font-size:1.3em;
    background: var(--btn-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    margin-top: 1em;
    padding: 5px 50px;
}

.botao:hover{
    font-weight: 700;
    background-color: #b6b2eb;
}

label{
    min-width: 0;
    left: 0;
    color: #6253f2;
    font-weight: 700;
    font-size: 1.1em;
}

.inp_txt{
    width: 350px;
    min-width: 250px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}

::placeholder {
    color: #709bb3;
}

.acessosvg{
    width: 40vw;
    height: 40vw;
    position: fixed;
    right: -100px;
    bottom: 50px;
    filter: opacity(45%);
    display: flex;
    align-items: center;
    display: none;
}
@media(min-width:765px){
    .acessosvg{
        display: block;
    }
}
@media (max-width: 570px){

    h1{
        line-height: 80%;
    }
    label{
        width: 100%;
        margin: 0 auto;
    }
    #btnN{
        display: none;

    }
}