.voltar{
    position: fixed;
    top: 20px;
    left: 20px;
    text-align: center;
    font-size:1em;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 4px 6px 8px -3px rgba(0, 0, 0, 0.123);
    z-index: 999;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
    box-shadow: 8px 8px 8px -5px rgba(0, 0, 0, 0.322);
}

@media (max-width: 810px){
    .voltar{
        display: none;
    }
}