.voltar{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    font-size:1em;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}