@import url("btnVoltar.css");
@import url("index.css"); /*este import é EXTREMAMENTE IMPORTANTE PARA O FUNCIONAMENTO DO SITE, NÃO TIRE ELE*/


body{
    background: var(--background-color2);
    /* background: linear-gradient(180deg, var(--background-color) 20%, var(--background-color2) 90%); */
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    padding-bottom: 20px;
    height: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 131px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cabecalho label{
    min-width: 0px;
}
.logo{
    padding-left: 20px;
    margin-top: 0;
    margin-left: 0;
}

.logo h1{
    font-size: clamp(100%, 1.5em + 1vw, 3em);
    margin: 0 auto;
    display: table;
}

.bts{
    padding: 10px 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 32px;
}

.bts a{
    font-weight: 900;
    text-decoration: none;
    color: #6253f2;
    padding: 5px;
}

#add{
    color: #c2d1d9;
    border-right: #c2d1d9 solid 1px;
}

#rem{
    color: #ff0000;
    border-right: #c2d1d9 solid 1px;

}

#rem:hover{
    cursor: pointer;
    color: var(--btn-color);
}

#ed{
    margin-left: 5px;
}
#ed:hover{
    cursor: pointer;
    color: var(--btn-color);

}

#red{
    background-color: #ff0000;
}

.center{
    width: 100%;
    height: auto;
}

.center h2{
    text-align: initial; 
    letter-spacing: 2px;  
    font-size: 1.3em;
    padding-left: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.center .form{
    padding-top: 32px;
    margin: 20px auto;
    margin-bottom: 64px;
}

.inp_txt{
    width: 80%;
    max-width: 565px;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #6253f2 ;
    box-shadow: none;
    margin-bottom: 20px;
    transition: .3s;
}
.center .form .ad{
    max-width: 565px;
}
.center .form .res{
    min-height: 260px;
}
.inp_txt:focus{
    font-weight: bold;
}

.form .membros .area_txt{
    margin-bottom: 1px;
}

.center .form label{
    display: inline-flex;
    width: 90%;
    align-self: left;
    margin-left: 7vw;
    margin-bottom: 10px ;
    margin-top: 64px;
}

#first{
    margin-top: 32px !important;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    margin: 10px auto;
}

.center .form .data label{
    margin: 10px auto;

}

.txt{
    width: 230px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1.5px solid #6253f2;
    border-radius: 5px;
    text-align: initial;
}

input[type=number]{
    text-align: center;
}

/*serve para tirar as setas chatas que ficam de quando a text box é do tipo number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.area_txt{
    width: 75%;
    max-width: 565px;
    font-size: 1em;
    padding: 15px;
    border-radius: 4px;
    justify-content:start;
    outline: none;
}
.res{
    min-height: 260px;
}
#slct:hover{
    cursor: pointer;
}

#dt_ap{
    font-family: 'Poppins', sans-serif;
    width: 180px;
}

#dt_ap:hover{
    cursor: pointer;
}

.center .form .arquivos label{
    margin: 0;
    margin-left: 20px;
}

.arquivos{
    padding: 20px 0px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.arquivos input{
    background-color: #6253f2;
    color: #f4f4f4;
    border-radius: 5px;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.cadastrar{
    background: #6253f2;
    color: #fff;
    border-radius: 4px;
    width: 230px;
    align-self: center;
    margin: 25px 0px;
    font-size: 1em;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #6253f2;
    letter-spacing: 2px;
    transition: all .3s ease-out;
}

.cadastrar:hover{
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: 1px solid black;
    color: black;
}

@media (max-width: 768px){
.cabecalho{
    flex-wrap: nowrap;
}
.bts{
    margin: 0;
}

#space_span{
    padding: 1000px !important;
}

.cadastrar{
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px;
    background-color: #6253f2;
    color: #fff;
}

}

@media (max-width:425px){

    .center .form label{
        margin-top: 10px;
    }

    .center .form .ad{
        width: 80%;
    }
}

@media (max-width:375px){
    .logo{
        padding-left: 5px;

    }
}