@import url("btnVoltar.css");
@import url("index.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    scroll-behavior: smooth;
}

.formu h2{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: var(--btn-color);
}
.formu{
    padding: 32px;
    background-color: #fff;
    color: #2a3641;
    text-align: center;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 46%;
    /* border: solid #6253f2 1px; */
    border-radius: 6px;
    box-shadow: 10px 12px 10px 0px rgba(0, 0, 0, 0.05);
}
.formu label{
    width: 100%;
    display: table;
    margin: 10px 0 5px 0; 
} 

/* Instituição */
.instituicao{
    margin: 40px 0px;
    border: 1px solid rgba(134, 133, 133, 0.342);
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 0 3px 7px 0px rgb(0 0 0 / 19%) */
}
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/**/

.formu input[type=email]{
    text-transform: lowercase;
}

#eye{
    position: absolute;
    background: none; 
    border: none;
    height: 20px;
    right: calc(100% - 50% - 210px);
    margin-top: 10px;
    opacity: 50%;
}

.email-e-senha{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.email-e-senha label:first-child{
    margin-top: 0;
}
.email-e-senha label:last-child{
    margin-top: 15px;
}
.email-e-senha .eyeInside input{
    padding-right: 10%;
    position: relative;
}

.dados label:first-child{
    margin-top: 45px;
}
#slct{
    color: #808080
}

#slct:hover{
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.botao{
    font-size:1em;
    width: 200px;
    min-height: 30px;
    padding: 5px;
    background: var(--btn-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;

}    
.btn1{
    letter-spacing: 2px;
    padding:5px;
    transition: all .3s ease-out;
}
.btn1:hover{
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: 1px solid black;
    color: black;
}
.btn2{
    margin-top: 15px;
    border-bottom: 2px solid var(--btn-color);
    transition: all .3s ease-out;
}
.btn2:hover{
    border-bottom: 2px solid var(--btn-color);
    background: white;
    color: black;
    border-radius: 0;
    font-weight: bold;
}

.opt{
   height: 50px; 
   display: flex;
   justify-content: center;
   align-items: center;
}   

@media (max-width: 968px){
    .voltar{
        display: none;
    }

    .formu{
        margin: auto auto;
        width: 80%;
    }

    .formu label{
        margin: 20px 0 10px 0;
    }
    
}

@media (max-width:600px){
    .formu{
        width: 100%;
    }
    #eye{
        right: calc(100% - 45% - 210px);
    }
}


@media (max-width:425px){
    #eye{
        right: calc(100% - 33% - 210px);
    }

}