body{
    background-color:#dee7ee;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.botao{
    font-size:105%;
    width: 200px;
    height: 28px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
}    

.voltar{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size:110%;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

.inp_txt{
    width: 80%;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #353839;
    outline: none;
}

.formu{
    padding: 32px;
    background-color: #fff;
    color: #2a3641;
    text-align: center;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 512px;
    border: solid #6253f2 1px;
    border-radius: 6px;
}

.formu h2{
    text-align: center;
}

.formu label{
    display: table;
    margin-left: 70px;
    margin-bottom: -10px;
    margin-top: 35px;
}

.formu input{
    width: 80%;
    height: 27px;
    color: solid #a7b5bc;
    border-radius: 4px;
    border: 2px solid #353839;
}

.formu input :focus{
    background-color: transparent;
    outline: none;
    border: none;
}

.formu input[type=email]{
    text-transform: lowercase;
}

.botao:hover{
    background-color: #b6b2eb;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#slct{
    color: #808080
}

#slct:hover{
    cursor: pointer;
}

::placeholder {
    color: #709bb3;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 48em){
.botaoVoltar{
    display: none;
}

.formu{
    margin: 0 auto ;
    width: 90%;
    margin-top: 15px;
}

.formu label{
    margin-left: 30px;
}
    
}