@import url("btnVoltar.css");
@import url("index.css");
@import url("cad.css");

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color2);
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}
.cabecalho{
    flex-wrap: wrap-reverse;
}

#add{
    color: var(--btn-color);
}

#add:hover{
    cursor: pointer;
    color: var(--btn-color);
}

#rem:hover{
    cursor: pointer;
    color: var(--btn-color);
}

#ed{
    color: #c2d1d9;
    pointer-events: none;
}

.center {
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

.center h2{
    text-align: center;
    color: #800000;
}

#sub_box{
    margin-left: 80px;

}
