@import url("btnVoltar.css");
@import url("index.css");
@import url("cad.css");

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color2);
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    height: 100vh;
}

#add{
    padding-right: 5px;
    font-weight: 900;
    color: var(--btn-color);
    border-right: #c2d1d9 solid 1px;
}

#add:hover{
    cursor: pointer;
    color: var(--btn-color);
}

#rem{
    font-weight: 900;
    color: #800;
    border-right: #c2d1d9 solid 1px;
}

#rem:hover{
    cursor: pointer;
    color: var(--btn-color);
}

#ed{
    font-weight: 900;
    color: #c2d1d9;
}

.center {
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

.center h2{
    text-align: center;
    color: #800000;
}

#sub_box{
    margin-left: 80px;

}
