*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

:root{
    --btn-color:#6253f2;
    --btn-background-color:#dee7ee;
    
}

.actions{
    position: absolute;
    z-index: 1;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: end;
}
.banner{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #dee7ee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 15px 15px 0 0;
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    height: 28px;
    background-color: white;
    color: var(--btn-color);
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--btn-color);
    color: var(--btn-background-color);
}

#cad{
    background-color: var(--btn-color);
    color:var(--btn-background-color);
}

#cad:hover{
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border: solid #f4f4f4 1px;
}


.conteudo{
    display: flex;
    align-items: center;
}

h1{
    font-size: 4em;
    color: #6253f2;
    margin-right: 10px;
}

.tec{
    display: flex;
    justify-content: center;
    height: 100vh;
    object-fit: cover;
}

.sobre{
    background-color: rgba(222, 231, 238, 0.705);
    border: 2px 0px;
}

.sobre h2{
    text-align: center;
    padding: 16px;
    font-size: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 32px 32px 32px;
}

.col{
    text-align: justify;
    padding: 16px;
}

.col h3{
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
}

.col p{
    text-indent: 50px;
    font-size: 1em ;
}

.contato{
    margin: 0 auto;
    width: 50%;
}

.contato h2{
    text-align: center;
    font-size: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 90vh;
    padding-top: 20px;
}

.inp_txt{
    width: 350px;
    font-size: 1em;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #353839;
    outline: none;
    margin: 0 auto;
}

.area_txt{
    margin: 0 auto;
    border: #2a3641 1px solid;
    border-radius: 5px;
    padding: 5px;
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
    max-height: 150px;
    
}

span{
    font-size: 0.8em;
    font-weight: 800;
    display: flex;
    justify-content:space-evenly;

}
.enviar{
    background-color: var(--btn-color);
    color: var(--btn-background-color);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    transition: 0.2s;
    font-weight: 800;
    letter-spacing: 1px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;   
}
.enviar:hover{
    cursor: pointer;
    background-color: #c2d1d9;
    color: var(--btn-color);
    position: relative;
}

.aviso{
    opacity: 0;
    background-color: rgb(238, 46, 12);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    transform: translate3d(20px, 0, 0);
}
.avisei{
    transform: translate3d(0, 0, 0);
    transition: 1s;
    opacity: 1;
    margin: 0 auto;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

[data-anime]{
    /* opacity: 0; */
    transition: .3s;
}

[data-anime="left"]{
    /* transform: translate3d(-100px, 0, 0);  */
    /*primeria casa anima da esquerda pra direita (se for valor negativo, inverte e fica da direita para a esquerda)*/
    /*segunda casa, anima de baixo pra cima (caso valor seja negativo, inverte e fica de cima para baixo)*/
    /*na terceira casa, só faz ele esmaecer, o objeto animado não vem de nenhuma direção*/
}

[data-anime="bottom"]{
    transform: translate3d( 0, 100px, 0);
}

/*tras o elemento para a posição inicial dele, quando acionada essa classe .animate com js */
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); 
}


@media (max-width: 768px){

.banner{
    justify-content: flex-start;
    display: block;
    height: 100px;
}
.banner h1{
    font-size: 2.5em;
}

.conteudo{
   padding:20px;
}

.conteudo img{
    width: 50px;
}
.actions{
    padding: 20px 0;
}
.tec{
    position: relative;
    object-fit: cover;
    height: auto;
}
.tec img{
    width: 100%;
    opacity: 80%;
}
#tec_img{
    max-width: 90%;
    content: url(../assets/img/bnr4.png) !important;
}


.grid{
    display: block;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; */
    padding: 0 10px;
}
.contato{
    width: 100%;
    
}

.form{
    height: 100vh;
}
.aviso{
    width: 80%;
    margin-top: 5px;
}
}

@media (max-width: 625px){
  
    .banner{
        height: 110px;
    }
    .banner h1{
        margin: 0;
    }
    .actions{
        margin-top: 40px;
        justify-content: center;
    }
    .conteudo{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .btn{
        margin: 0 10px;
    }

    .banner img{
        display: none;
    }
    .tec{
        padding: 20px 0;
    }
}

@media (max-width: 320px){

.contato h2{
    padding: 10px 0px;
}
.inp_txt{
    width: 300px;
    }
.area_txt{
    max-width: 300px;
    min-width: 300px;
}

}