@import url("btnVoltar.css");
@import url("index.css");

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--background-color) 20vh, var(--background-color2) 75vh, rgba(235, 234, 234, 0.479) 85vh);    
    /* background: linear-gradient(180deg, var(--background-color) 0%, var(--background-color2) 40vw); */
    /* background-color: #f4f4f4; */
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    min-height: 100vh;
    font-size: 16px;
}

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 90px;
    align-items: center;
    width: 100%;
    height: 131px;
    min-height: 10px;
    /* background-color: #dee7ee; */
}

.logo{
    max-width: 50%;
}

.logo h1{
    font-size: clamp(100%, 1.5em + 1vw, 5em);
    color: #6253f2;
    margin: 0 auto;
    display: table;
}

.logo label{
    color: #2a3641;
    line-height: 1em;
}

.logo label b{
    font-size: clamp(50%, .1em + 1vw, 2em);

}

.notificacao{
    top: 20px;
    right:0 ;
    z-index: 99;
    max-width: 48px;
    transition: .3s ease-in-out;
}

.notificacao:hover{
    cursor: pointer;
}


.corpo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.corpo h1{
    font-size: clamp(100%, 2em + 1vw, 5em);
}

.opcoes{
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}

.opcoes a{
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: #6253f2;
    font-size: 18px;
    font-weight: 600;
}

.opcoes a:hover{
    color: #968cf0d3;
}

.lblNome{
    margin: 0 auto;
    display: table;
}

.institucional{
    font-weight: bolder;
    margin: 0 auto;
    display: table;
}
.boxNot{
    padding: 20px 30px;
    margin-left: auto;
    margin-right: 32px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    background-color: #f4f4f4;
    margin-top: 10px;
}

.boxNot h4{
    color:#6253f2
}

.boxNot button{
    display: block;
    border: none;
    padding: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.btnBox{
    float: left;
    padding: 5px;
    border-radius: 0px;
    display: table;
    margin: 0 auto;
}
#p, #a, #e, #r{
    border-right: 1px solid #6253f2;
}
#ver{
    background-color: #008000;
    color:#f4f4f4;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#ver:hover{
    cursor: pointer;
    background-color: #a6f19b;
}

#neg{
    background-color: #800;
    color:#f4f4f4;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#neg:hover{
    cursor: pointer;
    background-color: #ff6961;
}
.swal2-container.swal2-backdrop-show{
    backdrop-filter: blur(3px);
}

@media (min-width: 810px){
    .cabecalho{
        padding-left: 130px;
    }

}
@media (max-width: 768px){
    .cabecalho{
        height: 110px;
        padding: 0 30px;
    }

.cap{
    margin-top: 64px;
    font-size: .5em;
}

.opcoes{
    display: grid;
    text-align: center;
    padding-top: 12px;
}

.opcoes a{
    padding-bottom: 12px;
}

#p, #a, #e, #r{
    border-right: none;
}
}

@media (max-width: 460px){
    .cabecalho{
        padding: 0 10px;
    }
    .notificacao{
        width: 30px;
        height: 30px;
    }

    .boxNot{
        padding: 7px;
        margin: 5px;
    }
    .boxNot h4{
        font-size: .9em;
    }
    .logo h1{
        margin: 0;
    }

    .institucional{ 
        margin: 0;
    }
}