@import url("btnVoltar.css");
@import url("index.css");

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--background-color) 20vh, var(--background-color2) 75vh, rgba(235, 234, 234, 0.479) 85vh);    
    /* background: linear-gradient(180deg, var(--background-color) 0%, var(--background-color2) 40vw); */
    /* background-color: #f4f4f4; */
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    height: 100vh;
    font-size: 16px;
}

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 90px;
    align-items: center;
    width: 100%;
    height: 131px;
    min-height: 10px;
    /* background-color: #dee7ee; */
}

.logo{
    max-width: 50%;
}

.logo h1{
    font-size: clamp(100%, 1.5em + 1vw, 5em);
    color: #6253f2;
    margin: 0 auto;
    display: table;
}

.logo label{
    color: #2a3641;
    line-height: 1em;
}

.logo label b{
    font-size: clamp(50%, .1em + 1vw, 2em);

}

.notificacao{
    top: 20px;
    right:0 ;
    z-index: 99;
    max-width: 48px;
    transition: .3s ease-in-out;
}

.notificacao:hover{
    cursor: pointer;
}
.lblNome{
    margin: 0 auto;
    display: table;
}

.institucional{
    font-weight: bolder;
    margin: 0 auto;
    display: table;
}
.corpo .img{
    position: fixed;
    width: 50vw;
    height: 50vw;
    right: 20px;
    bottom: 0;
    z-index: 1;    
}

.corpo .img img{
    width: 100%;
    height: 100%;
    filter: contrast(10px);
    filter: opacity(45%);
}

.corpo .content{
    position: absolute  !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    text-align: start;
    padding: 10px;
    z-index: 2;
    padding-left: 130px;
    /* background-image: url(../assets/ilustrations/dashboard.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right;  */
    /* background-color: rgb(255, 255, 255); */
    /* filter: blur(10px); */
}

.corpo .content h1{
    font-size: clamp(100%, 2em + 1vw, 5em);
    line-height: 40px;
}

.opcoes{
    padding-top: 10px;
}

.corpo .opcoes a{
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: #6253f2;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.opcoes a:hover{
    color: #968cf0d3;
}

.boxNot{
    padding: 20px 30px;
    margin-left: auto;
    margin-right: 32px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    background-color: #f4f4f4;
    margin-top: 10px;
    z-index: 10;
}

.boxNot h4{
    color:#6253f2
}

.content-btnBox{
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
}
.btnBox{
    /* float: left; */
    padding: 10px;
    font-size: .9em;
    border: none;
    border-radius: 8px;
    color: #f4f4f4;
    letter-spacing: 2px;
    transition: all .3s ease-out;
}
.btnBox:hover{
    transform: translateY(-2px);
}
.opcoes a{
    border-right: 1px solid #6253f2;
}
.opcoes a:last-child{
    border-right:none;
}
#ver{
    background-color: #38c538;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#ver:hover{
    cursor: pointer;
    background-color: #93d489;
}

#neg{
    font-weight: bold;
    background-color: rgb(190, 21, 21);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#neg:hover{
    cursor: pointer;
    background-color: #e96962;
}
.swal2-container.swal2-backdrop-show{
    backdrop-filter: blur(3px);
}

@media (min-width: 810px){
    .cabecalho{
        padding-left: 130px;
    }
    
}
@media (max-width: 768px){
    .cabecalho{
        height: 110px;
        padding: 0 30px;
    }
    
    .cap{
        font-size: .5em;
    }
    .corpo{
        /* justify-content: center; */
        align-items: center;

    }
    .corpo .img{
        display: none;
    }
    .corpo .content{
       text-align: center;
        width: 100%;
    }
    .opcoes{
        padding-top: 12px;
        padding-left: 0;
    }
    .cap{
        margin: 0;
    }

.opcoes a{
    padding-bottom: 12px;
    border-right: none;
}

}

@media (max-width: 460px){
    .cabecalho{
        padding: 0 10px;
    }
    .notificacao{
        width: 30px;
        height: 30px;
    }

    .boxNot{
        padding: 7px;
        margin: 5px;
    }
    .boxNot h4{
        font-size: .9em;
    }
    .logo h1{
        margin: 0;
    }

    .institucional{ 
        margin: 0;
    }
    .corpo .content{
        padding: 15px;
    }    
    .opcoes a{
        display: inline-block;
        width: 100%;
    }
}