@import url("btnVoltar.css");
@import url("index.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}
body{
    background: var(--btn-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.formu{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #fff;
    color: #2a3641;
    height: auto;
    width: auto;
    border: solid #6253f2 1px;
    border-radius: 6px;
}

.formu h2{
    text-align: center;
}
input[type="text"]{
    font-size: 1rem;
    width: 80%;
    margin-bottom: 20px;
    height: 27px;
    color:solid #a7b5bc;
    border-radius: 4px;
    border: 1px solid #353839;
    transition: .2s;
}
.formu input[type="email"], input[type="password"]{
    font-size: 1rem;
    width: 80%;
    margin-bottom: 20px;
    height: 27px;
    color:solid #a7b5bc;
    border-radius: 4px;
    border: 1px solid #353839;
    transition: .2s;
}

input:focus{
    width: 83%;
    background-color: transparent;
    outline: none;
    border: 1px solid #353839;
}

input[type=email]:focus{
    width: 83%;
    background-color: transparent;
    outline: none;
    border: 1px solid #353839;
    text-transform: lowercase;
}
input[type="submit"]{
    font-size:1.2em;
    margin-bottom: 10px ;
    width: 100px;
    height: 2.3rem;
    background: var(--btn-color);
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

#eye{
    background: none;

}
img{
    text-align: center;
    background: none;

}
.entrar:hover{
    background-color: #3e2eb4;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.botao{
    text-align: center;
    font-size:1em;
    width: 200px;
    height: 28px;
    background: var(--btn-color);
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}    

.botao:hover{
    background-color: #b6b2eb;
    color: black;
    font-weight: 500;

}

::placeholder {
    color: #709bb3;
}

.TxTmobile{
    display: none;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}

.markerRed{
    padding: 20px;
    font-size: 20px;
    background-color: #d98695;
    color: #800;
    border-top: 2px solid #800;
    border-bottom: 2px solid #800;
}

@media (max-width: 48em){

.botaoVoltar{
    display: none;
}

.formu{
    margin: 0 auto ;
    width: 100%;
    margin-top: 25%;
    border: none;
}

.formu label{
    margin-left: 30px;
}

.botao{
    height: 40px;
    width: 90%;
}

#btnN{
    display: none;
}

.TxTmobile{
    display: block;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.TxTmobile a{
    font-weight: 900;
    color: #6253f2;
}

#btnEsqueci{
    background-color: white;
    border: solid #709bb3 1px;
    font-size: 100%;
    color: #709bb3;
    height: 30px;
    width: 55%;
    margin: 2%;
}
}