@import url("btnVoltar.css");
@import url("index.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}
body{
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.formu{
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #fff;
    height: auto;
    border-radius: 6px;
    box-shadow:2px 18px 14px -8px rgb(209 208 208);
}

.formu form{
    width: auto;
}

.formu h2{
    text-align: center;
    letter-spacing: 2px;
}

label{
    display: inline-block;
    width: 100%;
}

input[type="text"]{
    font-size: 1em;
    margin-bottom: 20px;
    color:solid #a7b5bc;
    border-radius: 4px;
    transition: .2s;
}
.formu input[type="email"]{
    text-transform: lowercase;
}
.formu input[type="email"], input[type="password"]{
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 4px;
}

input[type="submit"]{
    font-size:1em;
    letter-spacing: 2px;
    margin-bottom: 10px ;
    width: 100px;
    height: 2.3rem;
    background: var(--btn-color);
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-out;
}

#senha, #email{
    margin: 0 15px 10px 0;
}

.saber-mais{
    font-size: 1.2em;
    opacity: 80%;
}

.saber-mais:hover{
    opacity: initial;

}

.content-senha{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.content-senha button{
    background: none; 
    height: 100%;
    border: none;
    outline: none;

}
img{
    background: none;
    height: 100%;
    margin-top: 5px;
}
#eye{
    opacity: 50%;
}
.entrar:hover{
    background-color: #3e2eb4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
}

.botao{
    text-align: center;
    font-size:1em;
    min-width: 200px;
    height: 30px;
    padding: 0 3px;
    background: var(--btn-color);
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}    
.botao:nth-child(1):hover{
    background-color: #9f9fa1;
    color: white;
    border: 1px solid white ;
}
.botao:first-child{
    margin-right: 10px; 
}
.botao:nth-child(2):hover{
    background: none;
    border: 1px solid var(--btn-color);
    font-weight: bold;
    color: black;
}

::placeholder {
    color: #709bb3;
}

.TxTmobile{
    display: none;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}

.markerRed{
    padding: 20px;
    font-size: 20px;
    background-color: #d98695;
    color: #800;
    border-top: 2px solid #800;
    border-bottom: 2px solid #800;
}
@media (min-width: 1440px){

}
@media (min-width: 1600px) {
    .formu{
        width: 35%;
    }
}
@media (max-width: 1185px){
    .formu{
        width: 50%;
    }

}
@media (max-width: 935px){

    .formu{
        width: 65%;
        padding: 20px;
    }
}

@media (max-width: 695px){

    .voltar{
        display: none;
    }

    .formu{
        margin: 0 auto ;
        width: 100%;
        border: none;
    }
    input[type="email"]{
        width:90% ;
    }
    input[type="password"]{
        width: 90%;
    }
    input[type="text"]{
        width: 90%;
    }
    .botao{
        height: 40px;
        width: 90%;
    }

    input[type="submit"]{
        width: 75px;
    }
    #btnN{
        display: none;
    }

    .TxTmobile{
        display: block;
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-size: 13px;
    }

    .TxTmobile a{
        font-weight: 900;
        color: #6253f2;
        text-decoration: none;
    }

    .TxTmobile label{
        display: inline;
    }

    #btnEsqueci{
        background-color: white;
        border: solid #709bb3 1px;
        font-size: 100%;
        color: #709bb3;
        height: 30px;
        width: 55%;
        margin: 10px auto;
    }
}