@import url("btnVoltar.css");
@import url("index.css");


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}
/*estas classes estão sendo importadas para outras páginas(adicionar, editar, remover) desde o login como prof ou instituição*/
.cabecalho{
    width: 100%;
    height: 175px;
    background-color: #dee7ee;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
   margin-left: 125px;
   width: 50%;
}
/**/

.grid-container{
    width: 100%;
    min-height: calc(100vh - 175px);
    display: flex;
    /* flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: 320px 2fr;
    grid-template-areas: 
    "filtros projetos"; */
    /* grid-gap: 20px; */
}

.info_esquerda h3{
    margin-top: 10px;
}
h1 label{
    font-size: 100%;
}
.info_esquerda{
    grid-area: filtros;
    /* min-width: 320px; */
    margin-left: 64px;
    width: auto;

}
.result h2{
    padding-left: 10px;
    margin-right: 64px;
    font-size: 1.2em;
}

.fltrs{
    font-weight: 900;
    margin-top: 40px;
    margin-left: 64px;
    font-size: 2.5em;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #6253f2;
}

.ano_inp{
    width: 60px;
}

.btn_filtrar{
    font-size: 16px;
    width: 128px;
    height: 32px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.btn_filtrar:hover{
    background-color: #b6b2eb;
}
.pesquisa{
    display: flex;
    text-align: center;
}
.pesquisa #ico{
    background: none;
    /* margin: 0px 10px; */
}

.btn_pesquisar i{
    padding: 15px;
    background: white;
    border-radius: 50%;
    font-size: 1.5em;
    color: rgba(165, 157, 157, 0.486);
    transition: .2s;
}
.btn_pesquisar i:hover{
    color: rgba(78, 78, 78, 0.486);

}
.info_direita .pesquisa{
    /* margin: 0 auto ; */
    position: relative;
    padding: 40px 0px;
    
}
/* Esse #btn é a barra de pesquisa*/
#btn{
    font-size: 1.2em;
    padding: 10px 15px;
    min-width: 300px;
    background-color: transparent;
    border: solid;
    border: none;
    border-radius: 20px ;
    /* border-bottom: #2a364167 1px solid; */
    outline: none;
    background: white;
    margin-right: 1%;
    
}

.info_direita{
    grid-area: projetos;
    /* position: relative; */
    padding-left: 10px;
    width: 100%;
}

.link{
    text-decoration: none;
    color: #2a3641;
}

.sizeImg{
    height: 45%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    border-radius: 10px 10px 0 0;
}
img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    
}
.img_set{
    max-width: 300px;
}

.blocos{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 20px; */
    /* margin-top: auto; */
}

.bloco{
    text-decoration: none;
    min-height: 353px;
    min-width: 265px;
    width: 15vw;
    height: 20vw;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(255, 254, 254, 0.644);
    box-shadow: 1px 7px 12px #a4a2b8a9;
    transition: all .3s ease-out;
    /* flex: 1 1 auto; */
}

.bloco:hover{
    box-shadow: 0px 3px 5px #888791a9;

}

.bloco .titulo{
    line-height: 18px;
    height: 15%;
    position: relative;
}
.bloco .titulo h3{
    margin-top: 0;
    padding: 15px 15px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
}
/* .bloco .titulo:hover h3{
    font-size: .8em;
    transition: .3s;
    white-space: normal;
} */
.bloco .conteudo p{
    margin-top: 10px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /*também necessário para limitar o tamanho do texto*/
     -webkit-line-clamp: 5; /* quantidade de linhas */
     -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
    width: 100%;
    height: auto; 
    font-size: .9em;
}
#ico{
    cursor: pointer;
    border: none;
}

#ico:hover{
    color: #6253f2;
}

#lp_filtros{
    margin-bottom: 32px;
}
.topo button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 100%;
}

.topo button i{
    color: white;
    font-size: 2em;
}
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: var(--btn-color); 
    padding: 5px;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin: 0 30px 30px 0;
    cursor: pointer;
    background: rgba(89, 125, 245, 0.5);
    box-shadow: 3px 4px 15px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all .3s ease;
}
.topo:hover{
    background: rgba(59, 85, 170, 0.678);
    
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 768px){
    h1{
        font-size: 100%;
    }
    .logo{
        margin-left: 20px;
    }
    .cabecalho{
        height: 50px;
    }
.grid-container{
    display: block;    
}
.info_direita .pesquisa{
    justify-content: center;
    padding: 5px;
}
.result h2{
    text-align: center;
}
.conteudo{
    padding: 0;
}
/* .info_esquerda{
    display: block;
    justify-content: center;
} */
.blocos{
    justify-content: center;
    padding: 0;
}

}