@import url("btnVoltar.css");
@import url("index.css");

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.container{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    padding-top: 60px;
    overflow-x: hidden;
    padding-bottom: 64px;
}

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 30px;
    gap: 20px;
}

.foto img{
    box-shadow: -3px 3px 5px rgb(0, 0, 0,0.2);
    min-height: 150px;
    max-height: 200px;
    border-radius: 10px;
}
.caixa{
    width: 100%;
    background: var(--info-esq-bg);
    box-shadow: -3px 3px 10px 3px rgb(0, 0, 0,0.1);
    border-radius: 6px;
    padding: 30px
}
ul{
    list-style: none;
}

ul li{
    margin: 0 0 5px 5px;
}
.esquerda span{
    display: inline;
    font-size: 1em;
}
.esquerda .caixa p, b{
    margin-top: 10px;
}
.direita{
    width: auto;
    height:auto;
    max-width: 1200px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: inset 0 0 12px 5px rgba(0,0,0,0.02), 0 0 10px rgba(255, 255, 255, 0.849);
    border: 1px solid white;
    padding: 25px;
    margin-right: 10px;

}

.direita h2{
    margin-top: 20px;
    font-size: clamp(100%, 1em + 1vw, 1.5em);
}
.direita h1{
    font-size: clamp(100%, 2em + 1vw, 3em);
}

.abstract{
    padding: 10px;
    text-indent: 35px;
    line-height: 1.7em;
    max-width: 900px;
    text-align: justify;
    font-size: clamp(100%, .8em + 1vw, 1em);
}

.downloads{
    padding: 10px;
    align-items: center;
}

.downloads input{
    background-color: #6253f2;
    color: #f4f4f4;
    border-radius: 10px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}
.info_adicionais p{
    font-size: 80%;
    padding-bottom: 5px;
}
.info_adicionais{ 
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    padding-right: 64px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (min-width:1920px){
    .esquerda{
        justify-content: center;
    }
}
@media (max-width: 1073px){
    .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .esquerda{
        width: 100%;
        height: auto;
    }
    .esquerda .foto{
        display: none;
    }
    .direita h2{
        margin-top: 10px;
    }
    .direita{
        margin-right: 0;

    }
    .esquerda .caixa{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}
@media (max-width: 823px){
    .esquerda .caixa{
        gap: 5px;
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 425px){
    .info_adicionais{
        padding: 10px;
    }
}
