@import url("btnVoltar.css");
/* @import url("index.css"); */

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 60px;
    overflow-x: hidden;
    max-width: 90%;
    margin-bottom: 64px;
}

.foto{    
    height: 150px;
    width: 340px;
    margin-left: 60px;
    background-color: transparent;
}

.foto img{
    display: table;
    margin: 0 auto;
    min-height: 150px;
    max-height: 150px;
}

.caixa{
    width: 320px;
    border: 1px solid #a7b5bc;
    border-radius: 6px;
    margin-left: 60px;
    margin-top: 30px;
    padding: 10px
}
ul{
    list-style: none;
}

ul li{
    margin: 0 0 5px 5px;
}
.orentadores{
    padding: 10px 0;
}

.info_direita{
    margin-top: 64px;

    
}

.info_direita h1{
    margin-left: -50px;
}

.abstract{
    width: 700px;
    margin-left: -100px;
    background-color: #f4f4f4;
    padding: 10px;
    text-indent: 35px;
}

.downloads{
    width: 700px;
    margin-left: -100px;
    background-color: #f4f4f4;
    padding: 10px;
    align-items: center;
}

.downloads input{
    background-color: #6253f2;
    color: #f4f4f4;
    border-radius: 10px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}
.info_adicionais p{
    font-size: 80%;
    padding-bottom: 5px;
}
.info_adicionais{ 
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    padding-right: 64px;
    line-height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 48em){
.grid-container{
    display: block;    
}

.banner{
    height: 150px;
}

.foto{
    height: 150px;
    width: 275px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: -75px;
}

.caixa{
    width: 255px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 10px;
}

.abstract{
    width: 275px;
    margin-left: 0;
    margin: 0 auto;
}

h2{
    padding-left: 20px;
}

.downloads{
    margin-left: 0;
}

}