@import url("btnVoltar.css");
@import url("index.css");

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color2);
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
    font-size: 20px;
}
.main{
    zoom: 73%;
}
.voltar{
    font-size: .8em;
}
/*estas classes estão sendo importadas para outras páginas(adicionar, editar, remover) desde o login como prof ou instituição*/
.cabecalho{
    width: 100%;
    height: 67px;
    background-color: #dee7ee;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;   
    z-index: 100;
}

.logo{
   margin-left: 10%;
   width: 50%;
   display: flex;
}
label{
    min-width: 0;
}
.logo label{
    color: white;
    font-weight: 600;
    width: 20%;
    font-size: .8em;
    line-height: 20px;
}

.logo h1{
    font-size: 2em;
}
/**/

.grid-container{
    min-width: 100%;
    display: flex;
    margin-top: 67px;
}
.info_esquerda form h3{
    margin-top: 10px;
}
.info_esquerda form .instituicao h3{
    border-top: 1px solid rgba(175, 175, 175, 0.815);
}
.info_esquerda form .ano-publicacao h3{
    border-top: 1px solid rgba(175, 175, 175, 0.815);
}
h1 label{
    font-size: 100%;
}
.info_esquerda{
    margin-left: 40px;
    max-width: 20%;
    min-width: 15%;
    position: fixed;
    margin-top: 40px;

}

.result{
    position: fixed;
    z-index: 999;
    right: 150px;
    top: 117px;
}
.result h2{
    font-size: 1em;
}

.info_esquerda h1{
    font-weight: 900;
    font-size: 2em;
    display: none;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #6253f2;
}

.ano_inp{
    width: 60px;
}

.btn_filtrar{
    font-size: 1em;
    width: 128px;
    height: 32px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}

.btn_filtrar:hover{
    background-color: #b6b2eb;
}

/* LADO DIREITO */

.info_direita{
    /* position: relative; */
    padding-left: 10px;
    width: 75%;
    position: absolute;
    right: 0;
}
.pesquisa{
    display: flex;
    text-align: center;
}
.pesquisa #ico{
    background: none;
    /* margin: 0px 10px; */
}

.btn_pesquisar i{
    padding: 15px;
    background: white;
    border-radius: 50%;
    font-size: 1.5em;
    color: rgba(165, 157, 157, 0.486);
    transition: .2s;
}
.btn_pesquisar i:hover{
    color: rgba(78, 78, 78, 0.486);

}
.info_direita .pesquisa{
    /* margin: 0 auto ; */
    position: relative;
    padding: 40px 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    background: var(--background-color2);
    padding-left: 20px;
    
}
/* Esse #btn é a barra de pesquisa*/
#btn{
    font-size: 1.2em;
    padding: 10px 15px;
    width: calc(30vw + 20px);
    min-width: 365px;
    background-color: transparent;
    border: solid;
    border: none;
    border-radius: 20px ;
    /* border-bottom: #2a364167 1px solid; */
    outline: none;
    background: white;
    margin-right: 1%;
    position: relative;
    
}

.link{
    text-decoration: none;
    color: #2a3641;
}

.sizeImg{
    height: 45%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    border-radius: 10px 10px 0 0;
}
img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    
}
.img_set{
    max-width: 300px;
}

.blocos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
    position: relative;
    margin-left: 10px;
}

.bloco{
    text-decoration: none;
    width: 15vw;
    height: 20vw;
    min-height: 373px;
    min-width: 285px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(255, 254, 254, 0.644);
    box-shadow: 1px 7px 12px #a4a2b8a9;
    transition: all .3s ease-out;
    /* flex: 1 1 auto; */
}

.bloco:hover{
    box-shadow: 0px 3px 5px #888791a9;

}

.bloco .titulo{
    line-height: 18px;
    height: 15%;
    position: relative;
}
.bloco .titulo h3{
    margin-top: 0;
    padding: 15px 15px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
}

.bloco .conteudo p{
    margin-top: 10px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /*também necessário para limitar o tamanho do texto*/
     -webkit-line-clamp: 5; /* quantidade de linhas */
     -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
    width: 100%;
    height: auto; 
    font-size: .9em;
}
#ico{
    cursor: pointer;
    border: none;
}

#ico:hover{
    color: #6253f2;
}

#lp_filtros{
    margin-bottom: 32px;
}
.topo button{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 100%;
}

.topo button i{
    color: white;
    font-size: 2em;
}
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: var(--btn-color); 
    padding: 5px;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin: 0 30px 30px 0;
    cursor: pointer;
    background: rgba(89, 125, 245, 0.5);
    box-shadow: 3px 4px 15px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all .3s ease;
}
.topo:hover{
    background: rgba(59, 85, 170, 0.678);
    
}
.topo a{
    width: 100%;
    height: 100%;
} 
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}
@media (min-width: 1400px){

 .main{
     zoom: initial;
 }
} 
@media (min-width: 1366px){
    .info_esquerda{
        margin-top: 20px;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 100%;
    }
    .logo{
        margin-left: 20px;
        width: 100%;
    }
    .cabecalho{
        height: 60px;
    }
.grid-container{
    display: block;    
}
.info_direita {
    margin: 0 auto;
    justify-content: center;
}
.info_direita .pesquisa{
    justify-content: center;
    padding: 5px;
}
.result h2{
    text-align: center;
}
.conteudo{
    padding: 0;
}
.info_esquerda{
    margin: 0 auto;
    display: block;
    width: 90%;
    text-align: center;
}
.blocos{
    justify-content: center;
    padding: 0;
}
}