body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.voltar{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size:110%;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.cabecalho{
    width: 100%;
    height: 175px;
    background-color: #dee7ee;
}

.cabecalho label{
    margin-left: 188px;
    margin-top: -56px;
    font-size: 16px;
    color: #2a3641;
    float: left;
}

.logo{
    margin-left: 188px;
    margin-top: -30px;
    font-size: 64px;
    color: #6253f2
}

.info_esquerda{
    width: 320px;
    margin-left: 64px;
    margin-top: 0;
}

.info_direita{
    margin-left: -532px;
    display: inline;
}

.result h2{
    text-align: right;
    margin-right: 64px;
}

.fltrs{
    font-weight: 900;
    margin-top: 40px;
    margin-left: 64px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #6253f2;
}

.ano_inp{
    width: 60px;
}

.btn_filtrar{
    font-size: 16px;
    width: 128px;
    height: 32px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.btn_filtrar:hover{
    background-color: #b6b2eb;
}

.btn_pesquisar{
    margin-top: 40px;
    float: right;
    margin-right: 64px;
    height: 30px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: #2a3641 1px solid;
    outline: none;
}

.link{
    text-decoration: none;
    color: #2a3641;
}

.sizeImg{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.img_set{
    max-width: 300px;
}

.blocos{
    padding: 25px;
}

.bloco{
    text-decoration: none;
    height: 400px;
    width: 300px;
    border-radius: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    margin: 36px;
}

.bloco:hover{
    box-shadow: 10px 10px 5px #c7c2f1;

}

.bloco h3:hover{
    font-size:1.6em;
}

.bloco p:hover{
    font-size:0.5em;
}

.bloco h3{
    margin-top: 0;
    padding: 15px;
}

.bloco p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-indent: 20px;
}

#btn{
    margin-right: 20px;
}

#ico{
    cursor: pointer;
    border: none;
}

#ico:hover{
    color: #6253f2;
}

#lp_filtros{
    margin-bottom: 32px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 48em){
.grid-container{
    display: block;    
}

.cabecalho{
    height: 150px;
}
}