@import url("btnVoltar.css");
@import url("index.css");
@import url("cad.css");

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}
.cabecalho{
    flex-wrap: wrap-reverse;
}

#add{
    color: var(--btn-color);
    cursor: pointer;
}

#add:hover{
    color: var(--btn-color);
    cursor: pointer;
}

#rem{
    color: #c2d1d9;
    pointer-events: none;
}

#ed:hover{
    cursor: pointer;
    color: var(--btn-color);
}

.center {
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

.center h2{
    text-align: center;
    color: #800000;
}

#sub_box{
    margin-left: 80px;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}
