@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2? family = Big + Ombros + Display: wght @ 100 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Big + Ombros + Display: wght @ 100 & display = swap'); 

@import url('https://fonts.googleapis.com/css2? family = Jomhuria & display = swap');
*{
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --font-secundary:"Big Shoulders Display, cursivo";
    --font-action:"'Jomhuria', cursiva;";
    --font-primary:"Mulish:ital", sans-serif;
}

.hamburger{
  
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    


}

.show-menu .hamburger{
    right: 16rem;
    
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: all 1s;
}

.show-menu #line1{
    transform: rotate(50deg) translate(.5rem, .9rem);
} 

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.1rem, -.9rem);
}

.hamburger span{
    position: absolute;
    left: 3rem;
    background: #7F00FF;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;

}

.hamburger span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #7F00FF;
    border-bottom: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    left: -1rem;
    
}

.show-menu .hamburger:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.8);

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: zoom 25s ;
}

@keyframes zoom{
    1.5%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    } 
 }

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary) ;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s  0.5s forwards ;

}
.banner p{
    font-family: var(--font-secundary);
    font-size: 2rem;
    color: white;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4) ;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards ;
}
.banner button{
    font-family: var(--font-action);
    color: white;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.8;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);

    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 99;
}

.show-menu .sidebar{
    right: 0 ;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color: #7F00FF;
    
}

.social-media{
    position: absolute;
    bottom: 6rem;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;

}

.social-media i{
    background-color: #633d8a;
    color: white;
    height: 2.5em;
    width: 2.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    color: #25004b;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
    background-color: #faf6f6;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3 ;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5 ;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1 ;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3 ;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5 ;
}

.conhecimento:nth-child(6){
    grid-column:11 / 14;
    grid-row: 5 / -1 ;
}

.sessao-conhecimentos{
    background-color:white ;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #7F00FF;
    margin-bottom: 1.5rem;

}
.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}
.conhecimento-header i{
    font-size: 2.5rem;
}
.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2.5rem;
    padding-left: 1rem;

}
.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
   
}
.card{
    width: 18rem;
    height: 25rem;
    position: relative;
    
    
}
.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: .7rem;
    opacity: .9;
    background-color: #262626;

}
.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .7rem;
    transition: opacity .3s;
}
.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-conteudo{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-conteudo h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
    margin-bottom: 1.5rem;
}

.card-conteudo h3{
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1rem;
}
.card-conteudo p{
    font-family:var(--font-secundary);
    color: #eee;
    width: 80%;
    font-weight: 400;
    margin-bottom: .7rem;
    
}
.btn{
    font-family: var(--font-action);
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    text-decoration: none;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, .6);
    cursor: pointer;
    color: #ccc;
}

.card-conteudo button{
   
    width: 8rem;
    height: 2.5rem;
    
}

.card:hover .card-conteudo{
    opacity: 1;
    visibility: visible;
}
.sessao-contato{
    width: 100%;
    height: 100vh;
    /* background-color: #202020; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contato-wrapper{
    width: 60%;
    display: flex;
    height: 40rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .6);
}
.contato-left{
    width: 35%;
    background:  /* linear-gradient(rgba(15,15,15,0.6),
    rgba(22,22,22,0.), */ 
    url(imagens/contact1.jpg);
    background-size: cover;
}

.contato-right{
    width: 65%;
    background: #ccc;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}
.sessao-contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-group{
    position: relative;
}
.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom:2px dashed #636363;
    height: 3rem;
    outline:none;
    margin: 2rem 0 ;
}
.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3;
}
.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all .3s;
}
.field:focus ~ label{
    top: 0;
    font-size: 1rem;

}
.field:focus {
    border-bottom: 1px solid;

}
.btn-submit{
    width: 100%;
    height: 2rem;
    font-family: var(--font-action);
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    text-decoration: none;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, .6);
    cursor: pointer;
    color: #ccc;
    text-transform: uppercase;
    margin-top: 2rem;

}
.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background: url(imagens/orcamento1.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4) ;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF);
    padding: 0 3rem;
    font-family: var(--font-secundary);
    color: #eee;
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4) ;
    border-radius: 10px;
}
.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family:var(--font-action);
    font-size: 1.5rem;
    font-weight: bold;
}
.sessao-orcamento input[type="number"]{
    font-family: var(--font-primary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    padding:1rem;
    cursor: pointer;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF);
    border: none;
    border-radius: 10px;
    color: white;
    grid-column: 2;
}

footer{
    width: 100%;
    background-color: #17181b;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.footer-content p{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    
    font-family: var(--font-primary);
    color: #a7a7a7;
}
.social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.5rem;
    
}
.social-list li{
    display: inline-block;
    
    
}
.social-list a:hover{
    color: white;
}
#link-topo{
    position: fixed;
    bottom: 1.4rem;
    right: 6rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF);
    z-index: 101;
    border-radius: 2rem;
    transition: all .2s;

}
#link-topo:hover{
     box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .8) ;
}