@import url("btnVoltar.css");
@import url("index.css");
@import url("dashboard.css");

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.center{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center h1{
    padding: 64px;
    padding-bottom: 0;
}

.center ul{
    list-style: none;
}

.inp_txt{
    width: 300px;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #353839;
    outline: none;
    cursor: pointer;
}

input[type=submit], #deletar{
    width: 96px;
    padding: 8px;
    color: #fff;
    background-color: #6253f2;
    border: 1px solid #6253f2;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #b6b2eb;
    border: 1px solid #b6b2eb;
}

#deletar:hover{
    background-color: #b6b2eb;
    border: 1px solid #b6b2eb;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}

.markerRed{
    padding: 20px;
    font-size: 20px;
    background-color: #d98695;
    color: #800;
    border-top: 2px solid #800;
    border-bottom: 2px solid #800;
}

.lblNome{
    margin-left: 0px !important;
    margin-top: -32px !important;
    font-size: 16px !important;
    color: #2a3641 !important;
    float: left !important;
}