body{
    background-color:#dee7ee;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.botao{
    font-size:105%;
    width: 200px;
    height: 28px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
}    

.voltar{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size:110%;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

.inp_txt{
    width: 80%;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #353839;
    outline: none;
}

.formu{
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
    width: 35%;
    height: 10%;
    background-color: white;
    border: solid #709bb3 1px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.formu h2{
    text-align: center;
}

.formu label{
    display: table;
    margin-left: 70px;
    margin-bottom: -10px;
    margin-top: 35px;
}

.formu input{
    width: 80%;
    height: 27px;
    color: solid #a7b5bc;
    border-radius: 4px;
    border: 2px solid #353839;
}

.formu input :focus{
    background-color: transparent;
    outline: none;
    border: none;
}

.botao:hover{
    background-color: #b6b2eb;
}

#slct{
    color: #808080
}

#slct:hover{
    cursor: pointer;
}

::placeholder {
    color: #709bb3;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 48em){
.botaoVoltar{
    display: none;
}

.formu{
    margin: 0 auto ;
    width: 90%;
    margin-top: 15px;
}

.formu label{
    margin-left: 30px;
}
    
}