#customers {
  border-collapse: collapse;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
}

.table-column_ex{
    width: 96px;
}

#especial{
    background-color: #6253f2 !important;
    border: 1px solid #ddd !important;
}

#especial th{
    border: 1px solid #ddd !important;
}

#customers td, #customers th {
    border: 1px solid #9392a1;
    padding-left: 40px;
    height: 70px;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

.item{
    cursor: pointer;
}

.item button{
    color: #f4f4f4;
    background-color: #800;
    border: none;
    border-radius: 0;
    padding: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    opacity: 0.5;
    cursor: pointer;
}

.fr:hover{
    opacity: 0.5;
}