body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.banner{
    width: 100%;
    height: 250px;
    background-color: #dee7ee;
}

.foto{
    height: 150px;
    width: 340px;
    margin-left: 60px;
    margin-top: -75px;
    background-color: transparent;
}

.foto img{
    display: table;
    margin: 0 auto;
    min-height: 150px;
    max-height: 150px;
}

.caixa{
    /* height: 500px; */
    width: 320px;
    border: 1px solid #a7b5bc;
    margin-left: 60px;
    margin-top: 30px;
    padding: 10px
}

.info_direita{
    margin-top: 100px;
    display: inline;
}

.abstract{
    width: 700px;
    margin-left: -100px;
    background-color: #f4f4f4;
    padding: 10px;
    text-indent: 50px;
}

.downloads{
    width: 700px;
    margin-left: -100px;
    background-color: #f4f4f4;
    padding: 10px;
    align-items: center;
}

.downloads input{
    background-color: #6253f2;
    color: #f4f4f4;
    border-radius: 10px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

.voltar{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size:110%;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

.downloads input:hover{
    background-color: #b6b2eb;
}

@media (max-width: 48em){
.grid-container{
    display: block;    
}

.banner{
    height: 150px;
}

.foto{
    height: 150px;
    width: 275px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: -75px;
}

.caixa{
    width: 255px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 10px;
}

.abstract{
    width: 275px;
    margin-left: 0;
    margin: 0 auto;
}

h2{
    padding-left: 20px;
}

.downloads{
    margin-left: 0;
}

}