body{
    background-color:#dee7ee;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.botao{
    font-size:105%;
    width: 43%;
    height: 28px;
    background-color: #6253f2;
    color: white;
    border: 1px #6253f2;
    border-radius: 4px;
    cursor: pointer;
}    

.botaoVoltar{
    text-align: center;
    font-size:110%;
    width: 8%;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.botaoVoltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

.formu{
    color: #2a3641;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto ;
    margin-top: 13%;
    margin-left: 25%;
    width: 35%;
    height: 10%;
    background-color: white;
    border: solid #709bb3 1px;
}

.formu label{
    margin-right: 75%;
}

.formu h2{
    text-align: center;
}

.formu input{
    text-align: justify;
    margin-right: 3%;
    width: 80%;
    height: 27px;
    color:solid #a7b5bc;
    border-radius: 4px;
    border: solid #709bb3 1px;
}

.formu input :focus{
    background-color: transparent;
    outline: none;
    border: none;
}

.botao:hover{
    background-color: #b6b2eb;
}

::placeholder {
    color: #709bb3;
}

#TxTmobile{
    display: block;
}

@media (max-width: 48em){

.botaoVoltar{
    display: none;
}

.formu{
    margin: 0 auto ;
    width: 100%;
    margin-top: 25%;
    border: none;
}

.formu label{
    margin-left: 30px;
}

.botao{
    height: 40px;
    width: 90%;
}

#btnN{
    display: none;
}

#TxTmobile{
    display: none;
    margin-top: 150%;    
    margin-right: 25%;
}

#btnEsqueci{
    background-color: white;
    border: solid #709bb3 1px;
    font-size: 100%;
    color: #709bb3;
    height: 30px;
    width: 55%;
    margin: 2%;
}
}