/* aPW1.css */
.CaixaRecSenha {
	background-color: #c2d1d9;
	margin-left: 20%;
	height: 400px;
	width: 30%;
	margin-top: 13%;
	float: left;
}

.txtBox {
	position: relative;
	left: 5%;
	transform: translateY(-5%);
	width: 88%;
	border: none;
	height: 30px;
	border-radius: 6px;
}

.btnEnviarCod {
	margin: .5em;
	margin-left: 5%;
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: #c2d1d9;
	border: 2px solid;
	border-color: #6253f2;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	padding: 10px;
	transition: .3s;
}

.btnEnviarCod:hover {
	background-color: #6253f2;
	color: white;
}

#Titulin {
	font-family: "Verdana";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#emailLabel {
	font-family: "Verdana";
	font-size: 14px;
	position: relative;
	left: 5%;
}

#telefoneLabel {
	font-family: "Verdana";
	font-size: 14px;
	position: relative;
	left: 5%;
}

/*
#btnEnviarCod {
	position: relative;
	left: 5%;
	transform: translateY(-5%);
	color: white;
	background-color: #6253f2;
	border-radius: 6px;
	height: 40px;
	border: none;
	font-weight: bold;
}
*/

#ou {
	font-family: "Verdana";
	font-size: 20px;
	position: relative;
	left: 50%;
	transform: translateY(-50%);
}

#explicacao {
	font-family: "Verdana";
	font-size: 20px;
	margin-right: 500px;
	color: #6253f2;
	text-align: justify;
	width: 22%;
	float: right;
	margin-top: 18%;
}