body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    color: #2a3641;
}

.cabecalho{
    width: 100%;
    height: 175px;
    background-color: #dee7ee;
}

.logo{
    margin-left: 188px;
    margin-top: -20px;
    font-size: 64px;
    color: #6253f2;
}

.lblNome{
    margin-left: 192px;
    margin-top: -56px;
    font-size: 16px;
    color: #2a3641;
    float:left;
}

.bts{
    float: right;
    padding: 10px;
    margin-top: 45px;
    margin-right: 45px;
    background-color: #fff;
}

.bts a{
    padding: 10px;
    text-decoration: none;
    color: #2a3641
}

#add{
    font-weight: 900;
    color: #6253f2;
    border-right: #c2d1d9 solid 1px;
}

#add:hover{
    cursor: pointer;
    color: #c2d1d9;
}

#rem{
    font-weight: 900;
    color: #c2d1d9;
    border-right: #c2d1d9 solid 1px;
    cursor: auto;
}

#ed{
    font-weight: 900;
    color: #6253f2;
}

#ed:hover{
    cursor: pointer;
    color: #c2d1d9;
}

.center {
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
}

.center h2{
    text-align: center;
    color: #800000;
}

.voltar{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size:110%;
    width: 100px;
    height: 28px;
    background-color: white;
    color: #6253f2;
    border: solid #6253f2 1px;
    border-radius: 4px;
    cursor: pointer;
}

.voltar:hover{
    background-color: #6253f2;
    color: #f4f4f4;
}

#sub_box{
    margin-left: 80px;
}

.marker{
    padding: 20px;
    font-size: 20px;
    background-color: #a0bca6;
    color: #012f00;
    border-top: 2px solid #012f00;
    border-bottom: 2px solid #012f00;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #6253f2;
  border-radius: 16px;
}

@media (max-width: 48em){
.banner{
    height: 150px;
}

.logo{
    float: right;
    font-size: 30px;
    margin-top: -124px;
    margin-right: 12px;
}

}